<h1>Account</h1>
<h5>Edit your account settings here</h5>

<div class="info">

  <form [formGroup]="accountInfoForm">

    <div class="form-field">
      <label>Email Address</label>
      <input type="text" formControlName="email-address" required>
    </div>

    <svg class="line-svg">
      <line class="line" x1=0 y1=50% x2=58% y2=50%></line>
    </svg>

    <div class="form-field">
      <label>Password</label>
      <input type="password" formControlName="password">
    </div>

    <div class="form-field">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirm-password">
    </div>

    <div class="save-row">
      <button mat-button class="save-btn" type="submit">Save</button>
    </div>
  </form>
</div>