div.form-field.header-field {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 49.5%;
}

form.header-form {
    display: flex;
    padding-bottom: 15px;
    width: 100%;
}

h1 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
    font-weight: 400;
}

h5 {
    color: #ebebeb;
    font-weight: 400;
}

input, textarea {
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: #353535;
    font-family: Nunito;
    font-size: 15px;
    height: 50px;
    padding-left: 12px;
    width: 58%;
}

input.heading-input {
    width: 100%;
}

label {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

line.line {
    stroke-width: 1px;
    stroke:#20e9e9;
}

svg {
    height: 55px;
    width: 100%;
}

textarea {
    padding-top: 8px; 
    height: 88px;
}

::placeholder {
    color: #aaaaaa;
    font-size: 12px;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.profile-svg {
    height: 117px;
    width: 117px;
}

.save-btn {
    align-self: flex-end;
    color: #ffffff;
    background-color: #ff3366; 
    height: 42px;
    margin-top: 60px;
}

.save-row {
    display: flex;
    justify-content: flex-end;
    width: 58%;
}