<h1>
  Profile</h1>
<h5>Welcome to your Zerochass profile</h5>

<div class="profile-header">
  <img class="profile-svg" src="../../../assets/material_account_circle.svg">
  <form class="header-form" [formGroup]="profileInfoForm">
    <div class="form-field header-field">
      <label>Heading</label>
      <input class="heading-input" type="text" formControlName="heading" placeholder="I'm a newbie software engineer, at the moment">
    </div>
  </form>
</div>

<svg class="line-svg">
  <line class="line" x1=0 y1=50% x2=58% y2=50%></line>
</svg>

<div class="info">

  <form [formGroup]="profileInfoForm">

    <div class="form-field">
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Your full name, if you'd like" required>
    </div>

    <div class="form-field">
      <label>About Me</label>
      <textarea type="text" formControlName="about-me" placeholder="A quick little snippet about you -- something like coffee afficionado on my journey to save our world from behind my desktop"
        required></textarea>
    </div>

    <div class="form-field">
      <label>Website</label>
      <input type="text" formControlName="website" placeholder="Enter your website URL here">
    </div>

    <div class="save-row">
      <button mat-button class="save-btn" type="submit" (click)="submitForm()">Save</button>
    </div>


  </form>
</div>