p {
    margin-top: 0px;
    margin-right: 10px;
    color: #d6d6d6;
    font-family: Nunito;
    font-size: 14px;
}

.container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 206px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 15%;
}

.row-box {
    display: flex;
    flex-direction: row;
}

