<div class="container" *ngIf="tutorial">

    <div class="banner-container">

        <div class="img-container">
            <img src="../../../../../../assets/image_placeholder.png">
        </div>

        <div class="title-container">
            <span class="title">{{tutorial.fields.title}}</span>
        </div>

        <div class="tags-container">
            <span>{{tutorial.fields.tags}}</span>
        </div>
    </div>


    <div class="content-container">
        <div *ngFor="let result of results">
            <div innerHTML={{result}}></div>
            <hr>
        </div>
    </div>
</div>