hr {
    background-color: #d6d6d6;
    border: none;
    height: 2px;
    border-radius: 5px;
}

img {
    border-radius: 4px;
    height: 248px;
    width: 400px;
}

pre {
    color: red;
    background-color: red;
    width: 10px;
}




.container {
    background-color: #272727;
    font-family: Nunito;
    padding-left: 15%;
    padding-right: 15%;
}

.banner-container {
    align-items: center;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    height: 390px;
    justify-content: center;
    width: 100%;
    
}

.content-container {
    background-color:white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 54px;
    padding-left: 70px;
    padding-right: 70px;
}

.tags-container {
    align-self: flex-start;
    color: #ebebeb;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 25px;
    position: left;
}

.title {
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px !important;
}

.title-container {
   margin-top: 25px;
}