h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    color: #ffffff;
    font-size: 35px;
}

.div-container {
    background-color: #111111;
    min-height: 315px;
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: nunito;
}

.flex-container {
    display: -webkit-flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.footer-info {
    color: #f7f6f6;
}

.info-container {
    margin-left: 20px;
}

.logo-svg {
    height: 130px;
    width: 130px;
}

.li {
    list-style: none;
}

.li-item-1 {
    font-weight: bold;
}

.main-footer-info {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.other-footer-info {
    color: #f7f6f6;
    list-style: none;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 120px;
}

.subtitle {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #f7f6f6;
    font-size: 18px;
}

.phrase {
    color: #d6d6d6;
    font-size: 14px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .flex-container {
        flex-direction: column; 
        margin-left: 0px;
    }
}

