<div class="div-container">
  <div class="flex-container">
    <div class="main-footer-info">
      <img class="logo-svg" src="../../../assets/logo.svg">
      <div class="info-container">
        <h4>zerochass</h4>
        <p class="subtitle">practical and project-oriented resources</p>
        <p class="phrase">learn by doing. enjoy what you do.</p>
      </div>
    </div>
    <div class="other-footer-info">
      <ul class="li">
        <li class="li-item-1">Zerochass</li>
        <li>About</li>
        <li>Contact</li>
        <li>FAQ</li>
      </ul>
      <ul class="li">
        <li class="li-item-1">Register</li>
        <li>Profile</li>
      </ul>
    </div>
  </div>