h3 {
    color: #4bb3fd;
    font-family: nunito;   
}

p {
    color: #eceded;
    font-family: Helvetica;
    font-size: 14px;
}

.div-container {
    align-items: center;
    background-color: #1c0c4f;
    display: -webkit-flex;
    justify-content: space-around;
    padding-bottom: 25px;    
    width: 100%;
}

.resources-container {
    width: 200px;
}

.resource-svg {
    margin-top: 25px;
    margin-left: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .div-container {
        flex-direction: column; 
    }
}