<div class="div-container">
  <div class="resources-container">
    <img class="resource-svg" src="../../../assets/material_wrench.svg">
    <h3>Tools and Gizmos</h3>
    <p>Have a question on certain tools and utilities, and don't know what they do?</p>
    <p>Our Tools and Gizmos section has you covered</p>
  </div>
  <div class="resources-container">
    <img class="resource-svg" src="../../../assets/material_devices.svg">
    <h3>Programming Languages</h3>
    <p>See here to find out more about a specific programming language.</p>

    <p>Understand a particular language, where and how it's used, and more.</p>
  </div>
  <div class="resources-container">
    <img class="resource-svg" src="../../../assets/material_code.svg">
    <h3>Development Frameworks</h3>
    <p>Heard of a cool new framework or library, but just want to know what it means for you?</p>
    <p>Let our Development Frameworks section put it all into context for you.</p>
  </div>
</div>