<div class="container">

  <div class="dialog-header">

    <button mat-button class="login" (click)="displayLoginControls()" [ngClass]="isLoginDialog==true ? 'highlight' : 'non-highlighted'">Login</button>
    <div class="dialog-header-divider"></div>
    <button mat-button class="sign-up" (click)="displaySignUpControls()" [ngClass]="isLoginDialog==false ? 'highlight' : 'non-highlighted'">Sign Up</button>

  </div>


  <div class="dialog-body" *ngIf="!isLoginDialog">

    <div class="header-text">
      <p>Join for free and achieve your learning goals</p>
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <div class="form-content">
        <div class="form-field">
          <label>Name</label>
          <input type="text" formControlName="name" required>
        </div>

        <div class="form-field">
          <label>Email Address</label>
          <input type="text" formControlName="email-address" required>
        </div>

        <div class="form-field">
          <label>Password</label>
          <input type="password" formControlName="password" required>
        </div>

        <div class="form-field">
          <button mat-button class="signup-btn" type="submit">Sign Up</button>
        </div>
      </div>

    </form>

  </div>

  <div class="dialog-body" *ngIf="isLoginDialog">

    <div class="header-text">
      <p>Welcome to Zerochass</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="form-content">
        <div class="form-field">
          <label>Email Address</label>
          <input type="text" formControlName="email-address" required>
        </div>

        <div class="form-field">
          <label>Password</label>
          <input type="password" formControlName="password" required>
          <span class="forgot-password">
            <a href="">Forgot your password?</a>
          </span>
        </div>

        <div class="form-field">
          <button mat-button class="login-btn" type="submit">Login</button>
        </div>
      </div>

    </form>

  </div>

</div>