input, .login-btn, .signup-btn {
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: #353535;
    font-family: Nunito;
    font-size: 15px;
    height: 35px;
    padding-left: 12px;
    width: 100%;
    
}

label {
    color: #d6d6d6; 
    font-size: 14px;
 }

 .container {
     display: flex;
     flex-direction: column;
     font-family: Nunito;
     justify-content: center;
 }

 .dialog-header-divider {
    width: 2px;
    height: 30px;
    background: #ff3366;
}

 .dialog-header {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-right: 28px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forgot-password {
    
}


.forgot-password a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 12px;
}

 .highlight {
    color: #f7f6f6;
 }

 :host {
    width: 50%;    
}

.login-btn, .signup-btn {
    background-color: #ff3366;
    color: #ffffff;
}

.non-highlighted {
    color: #ebebeb;
    opacity: 0.6;
}

.header-text {
    color: #eceded;
    font-size: 14px;
}
