h3 {
    
}

body {
    font-family: Nunito;
}

.app-container {
    display: flex;
    flex-direction: column;
    background-color: #272727;
    flex-grow: 1;
    font-family: Nunito;
    width: 100%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .app-container {
        padding: 0;
        width: 100%;
    }    
}
    
body {
    margin: 0px;
}