mat-sidenav-container, mat-sidenav {
    background-color: #120639;
}

.logo-svg {
    height:127px;
    padding-left: 15%;
    width: 127px;
}

.sidenav-container {
    display: flex;
    min-height: 800px;
    width: inherit;
    font-family: Nunito;
    padding-bottom: 10%;
    padding-left: 15%;

}

.sidenav-content {
    flex-grow: 1;
    padding-left: 15%;
    padding-right: 10%;
}

.sidenav-menu {
    border-left-width: .1px;
    border-right-width: .1px;
    border-right-style: solid;
    border-left-style:solid;
    border-left-color: #4d446b;
    border-right-color: #4d446b;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    width: 250px;
}

.sidenav-items {
    margin-top: 25px;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0;
}

a {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    line-height: 40px;
    padding-left: 20%;
    text-decoration: none;
}

a:hover {
    background: #30225f;
}

a:focus {
    background: #2289d3;
}