<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav-menu" #sidenav mode="side" opened="true">

    <div class="logo">
      <img class="logo-svg" src="../../../assets/logo.svg">
    </div>

    <ul class="sidenav-items">
      <li class="item">
        <a routerLink="profile">Profile</a>
      </li>
      <li class="item">
        <a routerLink="account">Account</a>
      </li>
      <li class="item">
        <a routerLink="connect">Connect</a>
      </li>
    </ul>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet>

    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>