h1 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
    font-weight: 400;
}

h5 {
    color: #ebebeb;
    font-weight: 400;
}

button {
    background-color: #4bb3fd;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Nunito;
    font-size: 15px;
    height: 50px;
    padding-left: 12px;
    width: 58%;
}


label {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

line.line {
    stroke-width: 1px;
    stroke:#20e9e9;
}

svg {
    height: 55px;
    width: 100%;
}

.button-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}