<h1>Connect</h1>
<h5>Link accounts to your profile and expand your network</h5>

<div class="info">



  <div class="button-row">
    <label>GitHub</label>
    <button mat-button type="submit">Connect your GitHub account</button>
  </div>

  <svg class="line-svg">
    <line class="line" x1=0 y1=50% x2=58% y2=50%></line>
  </svg>

  <div class="button-row">
    <label>LinkedIn</label>
    <button mat-button type="submit">Connect your LinkedIn account</button>
  </div>

  <svg class="line-svg">
    <line class="line" x1=0 y1=50% x2=58% y2=50%></line>
  </svg>

  <div class="button-row">
    <label>Twitter</label>
    <button mat-button type="submit">Connect your Twitter account</button>
  </div>
</div>