button {
    border-radius: 2px;
    font-family: Helvetica;
    font-size: 12px;    
    margin-bottom: 0px;    
    padding-left: 12px;
    padding-right: 12px;
}

button#join {
    background-color: #ff3f6f;
    color: #ffffff;
}

button#browse {
    background-color: #eceded;    
    color: #333333;
}

button, h2, p {
    margin-left: 2%;
}

div#app-banner-content {
    background-color: #45b914;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 15%;
}

h2, p {
    font-family: Nunito;
    margin-top: 0px;
    
}

h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: 400;
}

p {
    color: #f7f6f6;
    font-size: 20px;
    margin-bottom: 2em;
}

