<div id="app-banner-content">
    <h2>learn. code. and innovate.</h2>
    <p>practical and project-oriented resources</p>
    <button id="browse" mat-button>BROWSE TUTORIALS</button>
    <button id="join" mat-button>JOIN ZEROCHASS</button>
</div>