<h3>{{project.name}}</h3>
{{project.author}} 
{{project.date_posted}} <br><br>
{{project.description}} <br><br>
{{project.content}} <br><br>
Access our project source code at {{project.repository}} <br><br>
You can download our application at {{project.download_url}} <br><br>
Tags: {{project.tags[0]}}, {{project.tags[1]}}, {{project.tags[2]}} 