<div class="container" *ngIf="tutorials">
  <a mat-list-item class="li-item" *ngFor="let tutorial of tutorials | slice:0:4; let j = index;" appTutorialBannerHighlight
    [index]="j" (click)="passTutorialId(tutorial.sys.id)">
    <mat-list>
      <h3 matLine>{{tutorial.fields.title}}</h3>
      <p matLine class="item-desc">{{tutorial.fields.description}}</p>
    </mat-list>
  </a>

</div>