h3 {
    font-size: 20px;
    font-weight: normal !important; 
}

a {
    text-decoration: none;
    display: block;
}

a:hover {
    opacity: 0.8;
}

p {
    font-size: 14px;
}

mat-list {
    min-height: 220px;
    padding-left: 20px;
    
}

.container {
    display: flex; 
    flex-direction: column;
}

.item-desc {
    width: 55%;
}

.li-black {
    color: #ffffff;
    background-color: #333333;
    
}

.li-pink {
    color: #ffffff;
    background-color: #ff3f6f;
}

.li-white {
    color: #444444;
    background-color: #f6f7f8;
}

.li-teal {
    color: #ffffff;
    background-color: #23daca;
}

.mat-list-item {
    width: 70%;
    margin-left: 15%;
    margin-top: 65px;
    margin-bottom: 30px;
    border-radius: 15px;
}