/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    height: 100%;
    margin: 0px;
    width: 100%;
}

.mat-dialog-container {
    background-color: #011627;
    height: 550px !important; 
    width: 400px !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .mat-dialog-container {
        background-color: #011627;
        
    }

}
