<div class="navbar">
  <mat-toolbar>
    <div class="navbar-ctrls">
      <div class="navbar-section-left">

        <a href="">
          <img src="../assets/logo.svg" alt="Zerochass" border="0" width="60px" height="60px">
        </a>

        <span class="logo-text">
          <a href="">zerochass</a>
        </span>

        <button class="navbar-btn" mat-button routerLink="tutorials">Tutorials</button>
      </div>






      <!--<div class="search">
        <form class="search-form">
          <mat-form-field floatPlaceholder="never">
            <input matInput type="search" placeholder="Search zerochass for awesomeness...">
          </mat-form-field>
        </form>
      </div>-->

      <div class="login-control" *ngIf="!isUserLoggedIn">
        <button class="navbar-btn" mat-button (click)="handleLogin()">Login</button>
        <button class="navbar-btn sign-up" mat-button (click)="handleSignUp()">Sign Up</button>
      </div>

      <div class="login-control" *ngIf="isUserLoggedIn">
        <button class="navbar-btn" mat-button routerLink="planner">My Planner</button>
        <a [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">
          <img src="../assets/material_account_circle.svg" alt="Account" border="0" width="46px" height="46px">
        </a>
        <mat-menu yPosition="below" #menu="matMenu" [overlapTrigger]="false">
          <span (mouseleave)="closeMatMenu()">
            <button mat-menu-item routerLink="user/profile">Profile</button>
            <button mat-menu-item routerLink="user/account">Account</button>
            <button mat-menu-item routerLink="user/connect">Connect</button>
            <button mat-menu-item (click)="handleLogout()">Log out</button>
          </span>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</div>