::ng-deep .mat-form-field-placeholder-wrapper {
    margin: 5px 0 0 5px;
}

a {
    text-decoration: none;
}
form {
    flex: 1;
}

img {
    vertical-align: bottom;
}

input {
    background-color: #eceded;
    border-radius: 2px;
    height: 30px;
}

mat-toolbar {
    background-color: inherit;
    color: #ffffff;
    padding: 0 0;
}

mat-form-field {
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
}

.navbar {
    background-color: #202020;
    font-family: Nunito;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    height: 75px;
}

.navbar-btn {
    margin-top: 1px;
}

.navbar-ctrls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-section-left {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: nunito; 
    font-weight: 500;
}

.logo-text > a {
    color: #ffffff;
    font-size: 18px; 
    text-decoration: none;
}

.search {
    flex-grow: 1;
    max-width: 65%;
}
.sign-up, .logout {
    background-color:#ff3f6f;
}

.red-class {
    background-color: red;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    button {
        min-width: 60px;
        padding: 0;
    }

    .navigation-bar {
        padding: 0;
    }

    .login-control {
        display: flex;
        justify-content: space-between;
    }

    .logo-text > a {
        color: #ffffff;
        font-size: 16px; 
        text-decoration: none;
    }

    .search {
        display: none;
        width: 0;
    }
}


